body{
    background-color: rgb(235, 214, 214);    

}


#cabecalho{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: rgb(218, 182, 182);
    align-items: center

}

#nomebotcentro{
    font-family: 'Pacifico', cursive;    
    font-size: 50px;
}

#dado{
    width: 20px;
    height: 20px;

}


#item-menu{
    padding-left: 10px;
    display:inline-flex;
    font-family:'Courier New', Courier, monospace;    


}


#div-center{
    height: 250px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    margin: 50px;
}

#dado2{
    width: 150px;
    height: 150px;

}

#botao{
    width: 120px;
    margin-top: 5px;

}

@media only screen and (max-width: 600px) {
    #div-center{
        display: flex;
        flex-direction: column;
        margin-top: 20%;

        }

    #dado2{
        width: 0;
        height: 0;
        


    }

    #botao{
        margin-top: 15px;


    }

    

    }
