body{
    background-color: rgb(235, 214, 214);
    max-width: 1500px;
    min-width: 320px;


}

#header{
    background-color: rgb(218, 182, 182);
    height: 80px;
    position: relative;

}

#menu{
    display: inline-block;
    position: relative;
}


p {
     margin-bottom: 38px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 5px;
    position: relative;
    top: 7px;

}


#nomebot{
    font-family: 'Pushster', cursive;
    font-size: 35px;
    position: absolute;
    margin-left: 200px;
    margin-top: 30px;
}

#dado{
    height: 40px;
    width: 40px;
    
}


#nomebotcentro{
    font-family: 'Pushster', cursive;
    font-size: 80px;
    position: relative;
    bottom: 459px;
    margin-left: 190px;
    max-width: 1500px;
    min-width: 320px;
    
}

#menu{
    position: relative;
    margin-left: 350px;
    margin-bottom: 300px;

}


#item-menu hover{
    font-weight: 100px;
    color:red;
}

#item-menu{
    padding: 20px;
    display: inline-block;
    position: relative;
    bottom: 45px;
    left: 360px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


#dado2{
    position: relative;
    left: 800px;
    width: 200px;
    height: 200px;
    bottom: 300px;
    margin-top: 30px;
}

#botao{
    background-color: white;
    position: relative;
    margin-left: 20px;
    width: 120px;
    bottom: 10px;
    border-radius: 20px;

}

@media (max-width : 1092px){
    #item-menu{
        left: 176px;
    }

}

@media (max-width :905px){
    #dado2{
        left: 655px;
    
    }
    #item-menu{
        display: inline;
        padding: 22px;
        position: relative;
        top: 30px;
        left: 185px;
        
    }

    #nomebot{
        font-family: 'Pushster', cursive;
        font-size: 56px;
        position: absolute;
        margin-left: 250px;
        margin-top: 40px;
    }

    #dado2{
        width: 20px;
        height: 20px;
        position: relative;
        top: 29px;
        right: 50px;
        left: 484px;

        
    }

    #nomebotcentro{
        position: relative;
        bottom: auto;
        right: -16px;
        font-size: 60px;
    }

    #menu{
        margin-left: 20px;


    }

    #header{
        height:117px;
        width:103%;

    }
}

@media (max-width : 627px){

    #nomebot{
        position: relative;
        right: 36px;
        font-size: 36px;
        top: 6px;

    }

    #item-menu{

        display: inline;
        padding: 15px;
        position: relative;
        top: 21px;
        left: 121px;
        font-size: 18px;
    }

    #header{
        height:60px;

    }

    #nomebotcentro{
        position: relative;
        bottom: auto;
        right: 58px;
        font-size: 60px;
    }

    p{
        font-size:  13px;


    }

    }

 @media (max-width : 400px){
        #nomebot{
            position: relative;
            left: -123px;
            font-size: 34px;
            top: 21px;


        }

        #dado{
            height: 23px;
            width: 23px;
            bottom: 38px;
            position: relative;
            right: 27px;

        }
        
        #item-menu{
            left: 18px;
            top: 16px;
            position: relative;
        
        }
        #nomebotcentro{
            position: absolute;
            bottom: auto;
            right: 9px;
            font-size: 50px;

        }
    p{
        font-size: 11;
        position: absolute;
        margin-left: -32px;
        top: 52px;
        text-align: center;
}

    #botao{
        background-color: white;
        position: relative;
        margin-left: -16px;
        width: 120px;
        bottom: -37px;
        border-radius: 20px;


    }
    }

}







